@model ProductMgt.ViewModel.LoginViewModel

@{
    ViewBag.Title = "产品管理系统: 用户登录";
}

<h1>用户登录</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    @Html.EditorForModel()
    <p><input type="submit" value="登录" class="btn btn-primary" /></p>
}