@model HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统错误</title>
</head>
<body>
    <div style="padding: 8px; font-size: 12pt;">@Model.Exception.Message</div>
</body>
</html>